.headerFooter {
    background-color: #fbfbfb7e;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold; 
}


.headerContainer {
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}
.wrapper {
    font-weight: bold;
}
.headerContainer div span:first-child {
    color: #7C4DFF;
}
.footer {
 margin-top: 50px;
 text-align: center;
 height: 65px;
 line-height: 65px;
}